body{
  background-color: #27b899;
}

.App{
  text-align: center;
  padding: 0.1px;
  background-color: #27b899;
  min-height: 100vh;
  /* margin: auto; */

  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.center__{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  color: white;
  float: left;
  margin-left: 5%;
  font-size: calc(10px + 2vmin);
  margin-bottom: 5%;  

}

#projectPool {

  margin-top: 5%;
}

.just_padded{
}